.formassignment {
  width: Fixed (1, 920px) px;
  height: Hug (88px) px;
  padding: 32px 320px 32px 320px;
  gap: 8px;
  opacity: 0px;
}
.formassignment.form-topic {
  width: 1280px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(29, 29, 34, 1);
}

.form-container {
    width: Fixed (894px)px;
height: Hug (1,624px)px;
top: 226px;
left: 513px;
padding: 56px 48px 56px 48px;
gap: 40px;
border-radius: 16px 0px 0px 0px;
opacity: 0px;
background: rgba(255, 255, 255, 1);
padding: 30px;
}
.title {
    width: Fill (798px)px;
height: Hug (72px)px;
gap: 8px;
opacity: 0px;

}
.title h3 {
    width: 798px;
height: 24px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 20px;
font-weight: 550;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
font-variation-settings: 'slnt' 0;
color: rgba(29, 29, 34, 1);
padding: 20px;
margin-bottom: 20px;
}
.title p {
    width: 798px;
height: 40px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 13px;
font-weight: 450;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
font-variation-settings: 'slnt' 0;
color: rgba(99, 101, 103, 1);
padding: 20px;
}
.form-detail {
    padding: 20px;
    width: Fill (798px)px;
height: Hug (708px)px;
gap: 20px;
opacity: 0px;
}

label {
    width: 387px;
height: 14px;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 14px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
label span {
    font-family: "Inter";
font-size: 14px;
font-weight: 400;
line-height: 14px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: red;
gap: 4px;
}
.name {
    margin-top: 50px;
    width: Fill (798px)px;
height: Hug (66px)px;
gap: 24px;
opacity: 0px;
display: flex;
}

.input-data {
    width: Fill (387px)px;
height: Hug (66px)px;
gap: 8px;
opacity: 0px;
display: flex;
flex-direction: column;
}
.input-data  input  {
    width: Fill (390px)px;
    height: Hug (44px)px;
    padding: 12px 16px 12px 16px;
    gap: 8px;
    border-radius: 8px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid rgba(215, 218, 220, 1)
}