html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  margin-top: auto; /* Push the footer to the bottom */
}

footer nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.5rem;
}

footer nav a:hover {
  text-decoration: underline;
}
